<!DOCTYPE html>
<html lang="en">
<head>
	{% block extrahead %}
	{% endblock %}
	{% block extrastatic %}
	{% endblock %}
	{% load static %}
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta charset="utf-8">

    <link rel="icon" href="{% static 'images/bus.png' %}" type="image/gif" sizes="16x16">
	<!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{% static 'materialize/css/materialize.min.css' %}" media="screen,projection">
	<!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="{% static 'js/jquery-2.1.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'materialize/js/materialize.min.js' %}"></script>
	
	<!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <style>
        body  {
            background-color: #ffffff;
        }
        .text_color{
            color: white !important;
        }
        table thead tr th{
            text-align: center;
        }
        nav.fixed li.logo {
            text-align: center;
            margin-top: 32px;
            margin-bottom: 80px;
        }
        /*  Color tooltips */
        .backdrop{
           background-color: #004d40;
         }

        /* Colors icons */
        i.icon-blue {
            color: #0d47a1;
        }
        i.icon-green {
            color: #4db6ac;
        }
        i.icon-yellow {
            color: #ffa726;
        }
        i.icon-red {
            color: #b71c1c;
        }

        .tabs .tab a {
            color: white !important;
        }
        .tabs .indicator {
            background-color: white !important;
        }
    </style>
	<title>{% block title %} Document {% endblock %}</title>
</head>
<body>

	<nav class="nav-extended #0d47a1 blue darken-4">
        <div class="nav-wrapper">
            <div class="container">
                <!-- Top movil panel -->
                <a href="" style="bottom: 0px; top: 5px;" class="center brand-logo waves-effect waves-teal hide-on-large-only">
                    BusApp
                </a>

                <ul class="right"> <!-- hide-on-med-and-down -->
                    <a href="/" style="bottom: 0px; top: 5px; height: 60px;">
                        <img width="50" height="40" style="padding-top: 5px;" src="{% static 'images/bus.png' %}" alt="logo" class="responsive-img valign profile-image">
                    </a>
                </ul>

                <!-- control side nav cell -->
                <a href="#" data-activates="mobile-menu" id="button_collapse" class="button"><i class="material-icons">menu</i></a>
            </div>

        </div>
    </nav>
	<!-- Side nav cell -->
    <ul class="side-nav collapsible #0d47a1 blue darken-4" data-collapsible="accordion" id="mobile-menu">
        <li class="user-details green darken-1" style="padding-top: 15px; padding-left: 15px;">
            <div class="row">
                {% if is_authenticated %}
                <div class="col s12 m12 l12">
                    <a class="btn-flat dropdown-button waves-effect waves-light white-text profile-btn" href="" data-activates="profile-dropdown" style="padding-left: 0px; padding-right: 0px; margin-left: 0px; margin-bottom: 0px;">
                        {{ user }}
                        <i class="material-icons right" style="margin-left: 0px;">arrow_drop_down</i>
                    </a>
                    <ul id="profile-dropdown" class="dropdown-content">
                        <li><a class="waves-effect waves-teal" href="{% url 'user_profile' %}">Mis preferencias</a>
                        </li>
                        <li class="divider" style="margin-top: 0px;"></li>
                        <li>
                            <a class="waves-effect waves-teal" href="{%  url 'user_logout' %}">Salir</a>
                        </li>
                    </ul>
                </div>
                {% else %}
                <div class="text_color col s12 m12 l12">
                    <a href="{%  url 'new_user' %}">Crear nueva cuenta</a>
                </div>
                {% endif %}
            </div>
        </li>
        <!-- Collapsive cell panel -->
        <li class="bold">
            <div class="collapsible-header">
                <a class="waves-effect waves-teal text_color "><i class="material-icons prefix">arrow_drop_down</i>Rutas</a>
            </div>
            <div class="collapsible-body  #0d47a1 blue darken-4" style="padding-top: 0px;padding-bottom: 10px;">
                <ul class="collapsible" data-collapsible="accordion" style="padding-left: 25px;">
                    <li><a class="waves-effect waves-teal text_color" href="">En construcción</a></li>
                </ul>
            </div>
        </li>
        
        <li class="bold">
            <div class="collapsible-header">
                <a class="waves-effect waves-teal text_color"><i class="material-icons prefix">arrow_drop_down</i>Paradas</a>
            </div>
            <div class="collapsible-body  #0d47a1 blue darken-4" style="padding-top: 0px;padding-bottom: 10px;">
                <ul class="collapsible" data-collapsible="accordion" style="padding-left: 25px;">
                    <li><a class="waves-effect waves-teal text_color" href="">En construcción</a></li>
                </ul>
            </div>
        </li>
    </ul>
    <!-- end collapsive cell panel -->
	{% block header %}
	{% endblock %}

	{% block content %}
	{% endblock %}

	{% block footer %}
	{% endblock %}
	<script type="text/javascript">
        $( document ).ready(function() {
            $(".dropdown-button").dropdown();
            $("#button_collapse").sideNav();
            $('.collapsible').collapsible();
            $('.tooltipped').tooltip({delay: 100});
            $('.modal').modal();
            $('select').material_select();
        });

        (function($){
        window.onbeforeunload = function(e){
            window.name += ' [' + $(window).scrollTop().toString() + '[' + $(window).scrollLeft().toString();
        };
        $.maintainscroll = function() {
            if(window.name.indexOf('[') > 0)
            {
                var parts = window.name.split('['); 
                window.name = $.trim(parts[0]);
                window.scrollTo(parseInt(parts[parts.length - 1]), parseInt(parts[parts.length - 2]));
            }
        };  
        $.maintainscroll();
    })(jQuery);
    </script>
</body>
</html>