{% extends 'base/base.html' %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col s12 m12 l12" style="height: 40px;"></div>
            <div class="col s12 m1 l1"></div>
            <div class="z-depth-4 col s12 m10 l10"  style="background-color: white;">
                <div class="panel-heading">
                    <h4 style="margin-bottom: 40px; text-align: center;">
                        Mis preferencias
                    </h4>
                </div>

                <form class="col s12" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.media }}

                    <div class="col s6 m6 l6">
                        <div class="row">
                            <div class="input-field col s12">
                                {{ form.first_name }}
                                {% if form.first_name.errors %}
                                    <label style="color: red;" for="{{ form.first_name.id_for_label }}">{{ form.first_name.errors }}</label>
                                {% else %}
                                    <label for="{{ form.first_name.id_for_label }}">Nombre</label>
                                {% endif %}
                            </div>
                        </div>
                    </div>

                    <div class="col s6 m6 l6">
                        <div class="row">
                            <div class="input-field col s12">
                                {{ form.last_name }}
                                {% if form.last_name.errors %}
                                    <label style="color: red;" for="{{ form.last_name.id_for_label }}">{{ form.last_name.errors }}</label>
                                {% else %}
                                    <label for="{{ form.last_name.id_for_label }}">Apellido</label>
                                {% endif %}
                            </div>
                        </div>
                    </div>

                    <div class="col s12 m12 l12">
                        <div class="row">
                            <div class="input-field col s12">
                                {{ form.email }}
                                {% if form.email.errors %}
                                    <label style="color: red;" for="{{ form.email.id_for_label }}">{{ form.email.errors }}</label>
                                {% else %}
                                    <label for="{{ form.email.id_for_label }}">Email</label>
                                {% endif %}
                            </div>
                        </div>
                    </div>

                    <div class="col s12 m12 l12">
                        <div class="row">
                            <div class="input-field col s12">
                                {{ form.route }}
                                {% if form.route.errors %}
                                    <label style="color: red;" for="{{ form.route.id_for_label }}">{{ form.route.errors }}</label>
                                {% else %}
                                    <label for="{{ form.route.id_for_label }}">Elige tu ruta preferida</label>
                                {% endif %}
                            </div>
                        </div>
                    </div>

                    <div class="col s12 m12 l12">
                        <div class="row">
                            <div class="input-field col s12">
                                {{ form.station }}
                                {% if form.station.errors %}
                                    <label style="color: red;" for="{{ form.station.id_for_label }}">{{ form.station.errors }}</label>
                                {% else %}
                                    <label for="{{ form.station.id_for_label }}">Elige tu ubicación actual</label>
                                {% endif %}
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col s6 m6 l6" style="text-align: center;  margin-top: 0;">
                            <a href="/"><button class="btn waves-effect waves-light grey" type="button">Regresar
                                <i class="material-icons right">reply</i>
                            </button></a>
                        </div>
                        <div class="col s6 m6 l6">
                            <button type="submit" class="btn btn-primary btn-block center">
                                Guardar<i class="material-icons right">send</i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col s12 m1 l1"></div>
        </div>
    </div>
{% endblock %}